PORT=3000
DEBUG=false
HTTPS_PROXY=http://localhost:7890
SQL_DSN=postgres://myuser:mysecretpassword@localhost:5432/one_api
REDIS_CONN_STRING=redis://localhost:6379
SESSION_SECRET=xx

# 支付配置
MIN_TOPUP=1

# Stripe 配置
STRIPE_API_SECRET=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=
STRIPE_UNIT_PRICE=1.0
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=

# 支付宝配置
ALIPAY_APP_ID=
ALIPAY_PRIVATE_KEY=
ALIPAY_PUBLIC_KEY=
ALIPAY_NOTIFY_URL=
ALIPAY_RETURN_URL=
ALIPAY_UNIT_PRICE=1.0